<div>
  <p>Please login.</p>
  <app-button (click)="authService.onLogin()">
    <i class="fa-brands fa-google"></i> Login with Google
  </app-button>
  <button (click)="authService.onLogout()">dadwadwa</button>
</div>
<div *ngFor="let  i of items">{{i}}</div>
<!-- <div *ngFor="let item of authService.items | async">
  {{ item.dawdw }}
</div> -->
<!-- <div *ngIf="authService.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="authService.onLogout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="authService.onLogin()">
    <i class="fa-brands fa-google"></i> Login with Google
  </button>
</ng-template>
 -->
<app-input></app-input>
