:host {
  display: block;
}
i {
  display: block;
  text-align: center;
  font-size: 20px;
  animation: rotate 1s linear infinite;
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
