@import "../../../mixins.scss";
label {
  position: relative;
  display: block;
  @include box();
  input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    font: inherit;
    outline: none;
    box-shadow: 0 0 100px var(--background-color) inset;
    background: none;
    &:read-only {
      box-shadow: 0 0 100px var(--background-color--readinly) inset;
      & + i {
        background: var(--background-color--readinly);
      }
    }
  }
  i {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--border__color);
    border-radius: var(--border__radius);
    background: var(--background-color);
  }
}
