@mixin box() {
  min-width: var(--width--min);
  height: var(--height);
  padding: var(--padding);
  color: var(--color);
  font-size: var(--font-size);
  box-sizing: content-box;
}
@mixin full-background() {
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -9999px;
    right: -9999px;
    height: inherit;
    background: inherit;
  }
}
