@import url("./reset.css");
@import url("../node_modules/pretendard/dist/web/static/pretendard-dynamic-subset.css");

:root {
  --z-index__header: 10;

  --body__mobile-width: 400px;
  --body__padding-vertical: 18px;
  --body__padding-horizon: 24px;

  --header__height: 60px;

  --width--min: 100px;
  --height: 32px;
  --padding: 8px 16px;

  --primary: #009688;
  --void: #fff;
  --solid: #333;

  --color: var(--solid);
  --color--void: var(--void);

  --background-color: #fff;
  --background-color--void: #333;
  --background-color--readonly: rgb(176, 176, 176);

  --font-size: 16px;
  --font-family: "Pretendard";

  --border-color: rgb(46, 46, 46);
  --border-radius: 6px;
}
html {
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
  max-width: var(--body__mobile-width);
  margin: auto;
  padding: 0 var(--body__padding-horizon) var(--body__padding-vertical);
}
